p {
    background-color: rgb(247, 202, 55);
}


/* https://stackoverflow.com/a/1536324, Guffa, 2022-10-23 */
h1, h2, h3, h4, h5, h6, .i0 {
    background-color: rgb(104, 120, 224);
    box-shadow: 10px 10px 5px;
    font-size: 5em;
}

/* https://www.w3schools.com/css/css_font.asp */
p, h1, h2, h3, h4, h5, h6, .i0, div {
    font-family: 'Old London', sans-serif;
    font-family: 'Old London Alternate', sans-serif
}
/* https://unsplash.com/photos/KrQkCVZO1BI, Wesley Tingey, 2022-10-23 */ 
/* https://www.cdnfonts.com/old-london.font */
body {
    background-image: url("https://images.unsplash.com/photo-1558066858-246fbbf9446f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80");
}

img {
    box-shadow: 10px 10px 5px;
    border: 5px solid rgb(104, 120, 224);
}